<li class="list-group-item">
  <p class="d-flex justify-content-between align-items-center">
    <a
      class="h4"
      href="{{ repo.html_url }}"
      target="_blank"
      title="{{ repo.name }}"
    >
      {{ repo.name }}</a
    >

    <span>
      <span class="badge badge-primary mr-2"
        >{{ repo.watchers_count }} Watchers</span
      >
      <span class="badge badge-success">{{ repo.forks_count }} Forks</span>
    </span>
  </p>
  <p class="mb-0">{{ repo.description }}</p>
</li>
