<div>
  <div class="grid">
    <div class="col-8 col-md-6 px-0 mx-auto">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            name="userName"
            type="text"
            class="form-control"
            placeholder="search user by username..."
            [(ngModel)]="userName"
          />
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="ErrorMessage === null; else elseBlock">
    <div class="row" *ngIf="(user.user | json) != '{}'">
      <div class="card mb-3 mt-4 col-8 col-md-6 px-0 mx-auto">
        <div class="card-header">
          <h4>{{ user.user.login | titlecase }}</h4>
        </div>
        <div class="row no-gutters">
          <div class="col-md-4 p-2">
            <img
              src="{{ user.user.avatar_url }}"
              class="card-img"
              alt="userImg..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <span class="badge badge-primary mr-1"
                >{{ user.user.public_repos }} public Repos</span
              >
              <span class="badge badge-success mr-1"
                >{{ user.user.public_gists }} public Gists</span
              >
              <span class="badge badge-warning mr-1"
                >{{ user.user.followers }} followers</span
              >
              <span class="badge badge-info mr-1"
                >{{ user.user.following }} following</span
              >
              <ul class="list-group mt-3">
                <li class="list-group-item">
                  <strong>UserName :</strong> {{ user.user.login }}
                </li>
                <li class="list-group-item">
                  <strong>Location :</strong> {{ user.user.location }}
                </li>
                <li class="list-group-item">
                  <strong>Email :</strong> {{ user.user.email }}
                </li>
                <li class="list-group-item">
                  <strong>Blog :</strong>
                  <a
                    href="https://{{ user.user.blog }}/"
                    target="_blank"
                    title="{{ user.user.blog }}"
                  >
                    {{ user.user.blog }}</a
                  >
                </li>
                <li class="list-group-item">
                  <strong>Bio :</strong> {{ user.user.bio }}
                </li>
                <li class="list-group-item">
                  <strong>Member Since :</strong> {{ user.user.created_at }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="userRepos.repo.length != 0">
      <div class="card mb-3 mt-4 col-8 col-md-6 px-0 mx-auto">
        <div class="card-header">
          <h6>{{ user.login | titlecase }} Repos</h6>
        </div>
        <app-userrepo
          class="list-group list-group-flush"
          *ngFor="let repo of userRepos.repo"
          [repo]="repo"
        >
        </app-userrepo>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <h2 class="m-4">
      ERROR MESSAGE : {{ ErrorMessage | json }} .(kindly refresh and search
      again)
    </h2></ng-template
  >
</div>
